<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx.xsd
					    http://www.springframework.org/schema/context
					    http://www.springframework.org/schema/context/spring-context.xsd
					    http://www.springframework.org/schema/data/jpa
					    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
       xmlns:tx="http://www.springframework.org/schema/tx">

    <!-- 	settings -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
    <!--<tx:annotation-driven proxy-target-class="true"/>-->

    <jpa:repositories base-package="com.jiro.dao"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.jiro"/>
    <context:component-scan base-package="com.jiro.service"/>


    <!--abstract="false"-->
    <!--autowire="default"-->
    <!--<bean id="dataSource"-->
    <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource "-->
    <!--lazy-init="default"-->
    <!--p:url="jdbc:mysql://localhost:3306/cms"-->
    <!--p:driverClassName="com.mysql.jdbc.Driver" p:username="root"-->
    <!--p:password="12345">-->
    <!--</bean>-->

    <!--<bean id="transactionManager"-->
    <!--class="org.springframework.orm.hibernate4.HibernateTransactionManager">-->
    <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->

    <!--<bean id="sessionFactory"-->
    <!--class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" p:dataSource-ref="dataSource">-->
    <!--<property name="packagesToScan" value="com.jiro.model"/>-->
    <!--&lt;!&ndash;<property name="autostart" value="true"/>&ndash;&gt;-->
    <!--<property name="hibernateProperties">-->
    <!--<props>-->
    <!--<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>-->
    <!--<prop key="hibernate.show_sql">true</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--</bean>-->
    <context:component-scan base-package="com.jiro" />
    <!--<mvc:annotation-driven />-->
    <bean name="accountService" class="com.jiro.service.impl.AccountServiceImpl" />
    <bean name="cardHandService" class="com.jiro.service.impl.CardHandServiceImpl" />
    <bean name="gameDeckService" class="com.jiro.service.impl.GameDeckServiceImpl" />
    <bean name="gameService" class="com.jiro.service.impl.GameServiceImpl" />
    <bean name="roomPlayerService" class="com.jiro.service.impl.RoomPlayerServiceImpl" />
    <bean name="roomService" class="com.jiro.service.impl.RoomServiceImpl" />
    <bean name="roundDealerCardsService" class="com.jiro.service.impl.RoundDealerCardsServiceImpl" />
    <bean name="roundPlayerCardHandService" class="com.jiro.service.impl.RoundPlayerCardHandServiceImpl" />
    <bean name="roundPlayerCardsService" class="com.jiro.service.impl.RoundPlayerCardsServiceImpl" />
    <bean name="roundPlayerService" class="com.jiro.service.impl.RoundPlayerServiceImpl" />
    <bean name="roundService" class="com.jiro.service.impl.RoundServiceImpl" />

    <!--<bean name="orderExporter"-->
          <!--class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">-->
        <!--<property name="service" ref="accountService" />-->
        <!--<property name="serviceInterface" value="com.jiro.service.AccountService" />-->
    <!--</bean>-->


    <!--<bean id="viewResolver"-->
          <!--class="org.springframework.web.servlet.view.InternalResourceViewResolver" >-->
        <!--<property name="prefix">-->
            <!--<value>/WEB-INF/jsp2/</value>-->
        <!--</property>-->
        <!--<property name="suffix">-->
            <!--<value>.jsp</value>-->
        <!--</property>-->
    <!--</bean>-->

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="AccountService"/>
        <property name="service" ref="accountService"/>
        <property name="serviceInterface" value="com.jiro.service.AccountService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="CardHandService"/>
        <property name="service" ref="cardHandService"/>
        <property name="serviceInterface" value="com.jiro.service.CardHandService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="GameDeckService"/>
        <property name="service" ref="gameDeckService"/>
        <property name="serviceInterface" value="com.jiro.service.GameDeckService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="GameService"/>
        <property name="service" ref="gameService"/>
        <property name="serviceInterface" value="com.jiro.service.GameService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoomPlayerService"/>
        <property name="service" ref="roomPlayerService"/>
        <property name="serviceInterface" value="com.jiro.service.RoomPlayerService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoomService"/>
        <property name="service" ref="roomService"/>
        <property name="serviceInterface" value="com.jiro.service.RoomService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoundDealerCardsService"/>
        <property name="service" ref="roundDealerCardsService"/>
        <property name="serviceInterface" value="com.jiro.service.RoundDealerCardsService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoundDealerCardsService"/>
        <property name="service" ref="roundDealerCardsService"/>
        <property name="serviceInterface" value="com.jiro.service.RoundDealerCardsService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoundPlayerCardHandService"/>
        <property name="service" ref="roundPlayerCardHandService"/>
        <property name="serviceInterface" value="com.jiro.service.RoundPlayerCardHandService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoundPlayerCardsService"/>
        <property name="service" ref="roundPlayerCardsService"/>
        <property name="serviceInterface" value="com.jiro.service.RoundPlayerCardsService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoundPlayerService"/>
        <property name="service" ref="roundPlayerService"/>
        <property name="serviceInterface" value="com.jiro.service.RoundPlayerService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="RoundService"/>
        <property name="service" ref="roundService"/>
        <property name="serviceInterface" value="com.jiro.service.RoundService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>

</beans>